.subscribeButton{
    width: 268px;
    height:4rem;
    border:0;
    border-radius: 2rem;
    background-color: var(--yellow);
    color: var(--gray-900);
    font-size: 1.25rem;
    font-weight: bold;

    display:flex;
    align-items: center;
    justify-content:center;

    &:hover{
        filter: brightness(0.8);
    }
}